.container-fluid {
  background-color: yellow;
}
header {
  background-color: blue;
  height: 150px;
}
main{
  height: 300px;
  background-color: red;
}
aside{
  height: 300px;
  background-color: teal;

}

@media screen and (max-width: 875px){
  aside{
    background-color: orange;
  }
}
@media screen and (min-width: 768px){
  main {
    background-color: green;
  }
@media screen and (max-width: 800px){
  aside{
      background-color: purple;
    }
